<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://storage.googleapis.com/myflix-staticfiles/style/index_style.css" />
    <title>MyFlix</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7157717307583683"
        crossorigin="anonymous"></script>
</head>

<body
    style="background-image: url(https://storage.googleapis.com/myflix-staticfiles/img/main/background.jpg); background-repeat: no-repeat;width: 100%;height: 100%;">
    <header class="showcase">
        <div class="showcase-top">
            <img src="https://storage.googleapis.com/myflix-staticfiles/img/main/logo.png" alt="MyFlix" />
            <a href="/login" class="btn btn-SignIn">Sign In</a>
        </div>
        <div class="showcase-content">
            <h1 class="showcase-content-h1">
                Unlimited movies, TV shows and more.
            </h1>
            <h2 class="showcase-content-h2">Watch anywhere. Cancel anytime.</h2>
            <h3 class="showcase-content-h3">
                Ready to watch? Enter your email to create or restart your membership.
            </h3>
        </div>
        <div class="input_id">
            <input type="email" data-uia="field-email" value class="input-email" placeholder="Email address" />
            <a href="/signup" class="btn btn-getStarted">
                Get Started<i class="fas fa-chevron-right btn-icon"></i>
            </a>
        </div>
    </header>

    <div class="Jumbotron">
        <div class="full-story-card">
            <div class="story-card story-card-one">
                <div class="story-card-text">
                    <h1 class="story-card-text-title">Enjoy on your TV.</h1>
                    <h2 class="story-card-text-subtitle">
                        Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV,
                        Blu-ray players and more.
                    </h2>
                </div>
                <div class="story-card-animation">
                    <img class="story-card-tv-img"
                        src="https://storage.googleapis.com/myflix-staticfiles/img/main/home-tv.jpg" />
                </div>
            </div>
        </div>

        <div class="full-story-card">
            <div class="story-card story-card-two">
                <div class="story-card-animation">
                    <img src="https://storage.googleapis.com/myflix-staticfiles/img/main/mobile-0819.jpg" />
                </div>
                <div class="story-card-text">
                    <h1 class="story-card-text-title">
                        Download your shows to watch offline.
                    </h1>
                    <h2 class="story-card-text-subtitle">
                        Save your favourites easily and always have something to watch.
                    </h2>
                </div>
            </div>
        </div>

        <div class="full-story-card">
            <div class="story-card story-card-three">
                <div class="story-card-text">
                    <h1 class="story-card-text-title">Watch everywhere.</h1>
                    <h2 class="story-card-text-subtitle">
                        Stream unlimited movies and TV shows on your phone, tablet,
                        laptop, and TV.
                    </h2>
                </div>
                <div class="story-card-animation">
                    <img src="https://storage.googleapis.com/myflix-staticfiles/img/main/home-imac.jpg" />
                </div>
            </div>
        </div>

        <div class="full-story-card">
            <div class="story-card story-card-four">
                <div class="story-card-animation">
                    <img src="https://storage.googleapis.com/myflix-staticfiles/img/main/children-netflix.png" />
                </div>
                <div class="story-card-text">
                    <h1 class="story-card-text-title">Create profiles for children.</h1>
                    <h2 class="story-card-text-subtitle">
                        Send children on adventures with their favourite characters in a
                        space made just for them—free with your membership.
                    </h2>
                </div>
            </div>
        </div>

        <div class="full-story-card faq-card">
            <div class="story-card-text">
                <h1 class="faq-title">Frequently Asked Questions</h1>
                <ul class="faq-list">
                    <li class="faq-list-item">
                        <button class="faq-question">
                            What is MyFlix?
                            <i class="far fa-plus"></i>
                        </button>
                        <div class="faq-answer">
                            <p>
                                MyFlix is a streaming service that offers a wide variety of
                                award-winning TV shows, movies, anime, documentaries and more
                                – on thousands of internet-connected devices.
                                <br />
                                <br />
                                You can watch as much as you want, whenever you want, There's always
                                something new to discover, and new TV shows and movies are
                                added every week!
                            </p>
                        </div>
                    </li>
                    <li class="faq-list-item">
                        <button class="faq-question">
                            How much does MyFlix cost?
                            <i class="far fa-plus"></i>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Watch MyFlix on your smartphone, tablet, Smart TV, laptop, or
                                streaming device, all for one fixed monthly fee of £5. No extra costs, no contracts.
                            </p>
                        </div>
                    </li>
                    <li class="faq-list-item">
                        <button class="faq-question">
                            Where can I watch?
                            <i class="far fa-plus"></i>
                        </button>
                        <div class="faq-answer">
                            <p>
                                Watch anywhere, anytime, on an unlimited number of devices.
                                Sign in with your MyFlix account to watch instantly on the
                                web at <strong>myflix.world</strong> from your personal computer.
                                <br />
                                <br />

                            </p>
                        </div>
                    </li>
                    <li class="faq-list-item">
                        <button class="faq-question">
                            How do I cancel?
                            <i class="far fa-plus"></i>
                        </button>
                        <div class="faq-answer">
                            <p>
                                MyFlix is flexible. There are no annoying contracts and no
                                commitments. You can easily cancel your account online in two
                                clicks. There are no cancellation fees – start or stop your
                                account anytime.
                            </p>
                        </div>
                    </li>
                    <li class="faq-list-item">
                        <button class="faq-question">
                            What can I watch on MyFlix?
                            <i class="far fa-plus"></i>
                        </button>
                        <div class="faq-answer">
                            <p>
                                MyFlix has an extensive library of feature films,
                                documentaries, TV shows, anime, award-winning MyFlix
                                originals, and more. Watch as much as you want, anytime you
                                want.
                            </p>
                        </div>
                    </li>
                    <li class="faq-list-item">
                        <button class="faq-question">
                            Is MyFlix good for kids?
                            <i class="far fa-plus"></i>
                        </button>
                        <div class="faq-answer">
                            <p>
                                The MyFlix Kids experience is included in your membership to
                                give parents control while kids enjoy family-friendly TV shows
                                and films in their own space.
                                <br />
                                <br />
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="lower-h3">
            <h3 class="showcase-content-h3">
                Ready to watch? Enter your email to create or restart your membership.
            </h3>
        </div>
        <div class="input_id2">
            <input type="email" data-uia="field-email" value class="input input-email" placeholder="Email address" />
            <a href="/signup" class="btn btn-getStarted">
                Get Started <i class="fas fa-chevron-right btn-icon"></i>
            </a>
        </div>
    </div>

    <footer class="footer">
        <a href="#" class="footer-title">Questions? Call 000-800-040-1843</a>
        <div class="footer-row">
            <div class="footer-column">
                <a href="#" class="footer-link">FAQ</a>
                <a href="#" class="footer-link">Investor Relations</a>
                <a href="#" class="footer-link">Privacy</a>
                <a href="#" class="footer-link">Speed Test</a>
            </div>
            <div class="footer-column">
                <a href="#" class="footer-link">Help Center</a>
                <a href="#" class="footer-link">Jobs</a>
                <a href="#" class="footer-link">Cookie Preferences</a>
                <a href="#" class="footer-link">Legal Notices</a>
            </div>
            <div class="footer-column">
                <a href="#" class="footer-link">Account</a>
                <a href="#" class="footer-link">Ways to Wactch</a>
                <a href="#" class="footer-link">Corporate Inforamation</a>
                <a href="#" class="footer-link">MyFlix Originals</a>
            </div>
            <div class="footer-column">
                <a href="#" class="footer-link">Media Center</a>
                <a href="#" class="footer-link">Terms of Use</a>
                <a href="#" class="footer-link">Contact Us</a>
            </div>
        </div>
    </footer>

    <script src="https://storage.googleapis.com/myflix-staticfiles/Js/index_scripts.js"></script>
</body>

</html>