<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://storage.googleapis.com/myflix-staticfiles/style/signIn_style.css" />
    <title>Login</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="fullpage" style="background-image: url(https://storage.googleapis.com/myflix-staticfiles/img/main/background.jpg); background-repeat: no-repeat;width: 100%;height: 100%;">
        <div class="showcase">
            <nav class="showcase-top">
                <a href="/">
                    <img class="netflix-logo" src="https://storage.googleapis.com/myflix-staticfiles/img/main/logo.png" alt="Netflix Logo" />
                </a>
            </nav>

            <div class="signup-form-wrapper">
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
                <form class="signup-form" method="POST">
                    <h1 class="signup-title">Sign In</h1>
                    <input type="email" class="signup-form-input" id="email" name="email" placeholder="Email Address"
                        value required />
                    <input type="password" class="signup-form-input" placeholder="Password" autocomplete="Off"
                        id="password" name="password" value required />
                    <button class="signup-button" type="submit">Sign In</button>
                    <p class="signup-form-text">
                        New to Netflix?
                        <a href="/signup" class="signin-button">Sign Up now.</a>
                    </p>
                    <!-- <p class="signup-form-captcha">
                        This page is protected by Google reCAPTCHA to ensure you are not a
                        bot.
                    </p> -->
                </form>
            </div>
        </div>
        <div class="showcase-bottom">
            <a href="#" class="footer-title">Questions? Send an email to amedikusettor@gmail.com</a>
            <div class="footer-row">
                <div class="footer-column">
                    <a href="#" class="footer-link">FAQ</a>
                    <a href="#" class="footer-link">Investor Relations</a>
                    <a href="#" class="footer-link">Privacy</a>
                    <a href="#" class="footer-link">Speed Test</a>
                </div>
                <div class="footer-column">
                    <a href="#" class="footer-link">Help Center</a>
                    <a href="#" class="footer-link">Jobs</a>
                    <a href="#" class="footer-link">Cookie Preferences</a>
                    <a href="#" class="footer-link">Legal Notices</a>
                </div>
                <div class="footer-column">
                    <a href="#" class="footer-link">Account</a>
                    <a href="#" class="footer-link">Ways to Wactch</a>
                    <a href="#" class="footer-link">Corporate Inforamation</a>
                    <a href="#" class="footer-link">Netflix Originals</a>
                </div>
                <div class="footer-column">
                    <a href="#" class="footer-link">Media Center</a>
                    <a href="#" class="footer-link">Terms of Use</a>
                    <a href="#" class="footer-link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>