<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h2>Sign Up</h2>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form action="/signup" method="post">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required><br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required><br>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br>
        <!-- Subscription choices within the same form -->
        <div>
            <h1>Choose Your Subscription Tier</h1>
            <label>
                <input type="radio" name="subscription" value="ad-tier" required>
                Ad-tier (Free)
            </label>

            <label>
                <input type="radio" name="subscription" value="paid-tier" required>
                Paid-tier (£5 for premium movies)
            </label>
        </div>

        <button type="submit">Sign Up</button>
    </form>
</body>

</html>